<div id="<%= dom_id registration %>">
  <p>
    <strong>First name:</strong>
    <%= registration.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= registration.last_name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= registration.grade %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= registration.age %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= registration.year %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= registration.gender %>
  </p>

  <p>
    <strong>Born:</strong>
    <%= registration.born %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= registration.nationality %>
  </p>

  <p>
    <strong>Naturalness:</strong>
    <%= registration.naturalness %>
  </p>

  <p>
    <strong>Relegion:</strong>
    <%= registration.relegion %>
  </p>

  <p>
    <strong>Home address:</strong>
    <%= registration.home_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= registration.city %>
  </p>

  <p>
    <strong>District:</strong>
    <%= registration.district %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= registration.cep %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= registration.phone %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= registration.id %>
  </p>

  <p>
    <strong>Issuing body:</strong>
    <%= registration.issuing_body %>
  </p>

  <p>
    <strong>State:</strong>
    <%= registration.state %>
  </p>

  <p>
    <strong>Pathology:</strong>
    <%= registration.pathology %>
  </p>

  <p>
    <strong>Remedy:</strong>
    <%= registration.remedy %>
  </p>

  <p>
    <strong>Insurance:</strong>
    <%= registration.insurance %>
  </p>

  <p>
    <strong>Bood type:</strong>
    <%= registration.bood_type %>
  </p>

  <p>
    <strong>Rh factor:</strong>
    <%= registration.rh_factor %>
  </p>

  <p>
    <strong>Emergency phone:</strong>
    <%= registration.emergency_phone %>
  </p>

  <p>
    <strong>Financial name:</strong>
    <%= registration.financial_name %>
  </p>

  <p>
    <strong>Financial city:</strong>
    <%= registration.financial_city %>
  </p>

  <p>
    <strong>Financial phone:</strong>
    <%= registration.financial_phone %>
  </p>

  <p>
    <strong>Financial address:</strong>
    <%= registration.financial_address %>
  </p>

  <p>
    <strong>Financial job local:</strong>
    <%= registration.financial_job_local %>
  </p>

  <p>
    <strong>Financial occupation:</strong>
    <%= registration.financial_occupation %>
  </p>

  <p>
    <strong>Financial cellphone:</strong>
    <%= registration.financial_cellphone %>
  </p>

  <p>
    <strong>Financial income:</strong>
    <%= registration.financial_income %>
  </p>

  <p>
    <strong>Financial email:</strong>
    <%= registration.financial_email %>
  </p>

  <p>
    <strong>Financial degree kinship:</strong>
    <%= registration.financial_degree_kinship %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= registration.father_name %>
  </p>

  <p>
    <strong>Father city:</strong>
    <%= registration.father_city %>
  </p>

  <p>
    <strong>Father phone:</strong>
    <%= registration.father_phone %>
  </p>

  <p>
    <strong>Father adress:</strong>
    <%= registration.father_adress %>
  </p>

  <p>
    <strong>Father job local:</strong>
    <%= registration.father_job_local %>
  </p>

  <p>
    <strong>Father occupation:</strong>
    <%= registration.father_occupation %>
  </p>

  <p>
    <strong>Father salary:</strong>
    <%= registration.father_salary %>
  </p>

  <p>
    <strong>Father cellphone:</strong>
    <%= registration.father_cellphone %>
  </p>

  <p>
    <strong>Father born:</strong>
    <%= registration.father_born %>
  </p>

  <p>
    <strong>Father email:</strong>
    <%= registration.father_email %>
  </p>

  <p>
    <strong>Mother name:</strong>
    <%= registration.mother_name %>
  </p>

  <p>
    <strong>Mother city:</strong>
    <%= registration.mother_city %>
  </p>

  <p>
    <strong>Mother phone:</strong>
    <%= registration.mother_phone %>
  </p>

  <p>
    <strong>Mother address:</strong>
    <%= registration.mother_address %>
  </p>

  <p>
    <strong>Mother occupation:</strong>
    <%= registration.mother_occupation %>
  </p>

  <p>
    <strong>Mother salary:</strong>
    <%= registration.mother_salary %>
  </p>

  <p>
    <strong>Mother commercial phone:</strong>
    <%= registration.mother_commercial_phone %>
  </p>

  <p>
    <strong>Mother cellphone:</strong>
    <%= registration.mother_cellphone %>
  </p>

  <p>
    <strong>Mother borndate:</strong>
    <%= registration.mother_borndate %>
  </p>

  <p>
    <strong>Mother email:</strong>
    <%= registration.mother_email %>
  </p>

  <p>
    <strong>Marital status:</strong>
    <%= registration.marital_status %>
  </p>

</div>
